[Base]

[Rabbit]
    host = 192.168.1.106
    queue_name = control
    event_prefix = control
    username = joe
    password = blogs

[Logging]
    level = info
    location = control.log

[Database]
    filepath = control.db 
