[Base]

[Rabbit]
    host = 192.168.1.106
    queue_name = honeycomb
    event_prefix = honeycomb
    username = guest
    password = guest

[Logging]
    level = info
    location = honeycomb.log

[Database]
    filepath = honeycomb.db 
