[Base]

[Rabbit]
    host = 192.168.1.106
    exchange = apiary
    rpc_queue = honeycomb
    sub_queue = honeycombdata
    event_prefix = honeycomb
    username = guest
    password = guest

[Logging]
    level = info
    location = honeycomb.log

[Database]
    filepath = honeycomb.db 
    mongodb_host = 192.168.1.106
    mongodb_port = 27017
 
