[Base]

[Rabbit]
    host = 192.168.1.106
    queue_name = intelligence
    event_prefix = intelligence
    username = guest
    password = guest

[Logging]
    level = info
    location = intelligence.log

[Database]
    filepath = intelligence.db 
