var config = {};

config.hiveIP = '127.0.0.1';
config.heartbeatInvterval = 20000;


//LEAVE BLANK, CONFIGURED BY INITIALISATION
config.clientID = "";
config.macAddress = "";

module.exports = config;
