body {
  padding-top: 50px;
  background: rgb(210, 210, 210);
}

.jumbotron {
  padding: 0.5em 0.6em;
  background: rgb(210,210,210);
}

.main-container {
  padding: 20px 15px;
  text-align: center;
}

.stat-group {
  margin-bottom: 15px;
  padding-bottom: 15px;
  background: white;
  border:1px solid;
  border-color: grey;
  border-radius:5px;
  /*box-shadow: 5px 5px 5px #888888;*/
}

.fieldTable {
  margin-left: auto;
  margin-right: auto;
}

#AgentsDataGrid {
  height: 519px;
}

#search-container {
  padding : 20px 15px;
}

#timeInput{
  width : 150px;
}

#fieldTabs{
  width : 100px;
  float: left;
}

/*
 * Sparkline
 */
.sparkline {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}
.sparkcircle {
  fill: steelblue;
  stroke: none;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}
.area {
  fill: lightsteelblue;
  stroke-width: 0;
}
