body {
  padding-top: 50px;
  background: rgb(224, 224, 224);
}

.jumbotron {
  padding: 0.5em 0.6em;
}

.main-container {
  padding: 20px 15px;
  text-align: center;
}

.stat-group {
  margin-bottom: 15px;
  padding-bottom: 15px;
  background: white;
  border:1px solid;
  border-color: grey;
  border-radius:5px;
  /*box-shadow: 5px 5px 5px #888888;*/
}

#AgentsDataGrid {
  height: 519px;
}

#search-container {
  padding : 20px 15px;
}


/*
 * Sparkline
 */
.sparkline {
  fill: none;
  stroke: #000;
  stroke-width: 0.5px;
}
.sparkcircle {
  fill: #f00;
  stroke: none;
}
