body {
  padding-top: 50px;
  background: rgb(210, 210, 210);
}

.jumbotron {
  padding: 0.5em 0.6em;
  background: rgb(210,210,210);
}

.main-container {
  padding: 20px 15px;
  text-align: center;
}

.stat-group {
  margin-bottom: 15px;
  padding-bottom: 15px;
  background: white;
  border:1px solid;
  border-color: grey;
  border-radius:5px;
  /*box-shadow: 5px 5px 5px #888888;*/
}

#fieldTable {
  margin-left: auto;
  margin-right: auto;
}

.alert-query-button {
  width: 140px;
}

/*
 * Query for alert
 */
#construct-query {
  padding : 20px 15px;
  width: auto;
  height: auto;
}
#alert-container {
  overflow: hidden;
}
#alertButton {
  width: 80px;
  height: auto;
  padding : 80px 15px;
  float: right;
}

/*
 * Search bar
 */
.search-query-button {
  width:140px;
}

/*
 * Progress loader
 */
.preloader {
  display: none;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 40px;
}

/*
 * Datagrids
 */
#AgentsDataGrid {
  height: 519px;
}

#AlertsDataGrid {
  height: 519px;
}

#TagsDataGrid {
  height: 519px;
}

#MyGrid {
  height: 519px;
}

#SearchGrid {
  height: 519px;
}

#sparklineGraph{
  margin-left: auto;
  margin-right: auto;
  width:725px;
}

/*#piechart{*/
  /*margin-left: auto;*/
  /*margin-right: auto;*/
  /*width: 600px;*/
/*}*/

#search-container {
  padding : 20px 15px;
}

#fieldTabs{
  width : 100px;
  float: left;
}

/*
 * Sparkline
 */
.sparkline {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}
.sparkcircle {
  fill: steelblue;
  stroke: none;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}
.area {
  fill: lightsteelblue;
  stroke-width: 0;
}

/*
 * Pie Chart
 */

path.slice{
  stroke-width:2px;
}

polyline{
  opacity: .3;
  stroke: black;
  stroke-width: 2px;
  fill: none;
}
