script(src="/scripts/libs/jquery-2.0.3.min.js")
//script(src="/scripts/libs/bootstrap.min.js")
// loader contains all bootstrap and fuel ux
script(src="/scripts/libs/loader.min.js")
script(src="/scripts/libs/d3.v3.min.js")
script(src="/socket.io/socket.io.js")
script(src="/scripts/general.js")

link(rel='stylesheet', href='/css/bootstrap.min.css')
link(rel='stylesheet', href='/css/multi-select.css')
link(rel='stylesheet', href='/css/fuelux.min.css')
link(rel='stylesheet', href='/css/fuelux-responsive.min.css')
link(rel='stylesheet', href='/css/general.css')
