// Button to trigger modal
button#new.btn.btn-primary.btn-lg(data-toggle='modal', data-target='#newTargetModal')
  | Add New Target

// Modals
#newTargetModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='addNewTarget', aria-hidden='true')
  .modal-dialog
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
        h4#newTargetModalLabel.modal-title Add New Target
      .modal-body
        .fuelux
          #myWizard.wizard
            ul.steps
              li.active(data-target='#step1')
                span.badge.badge-info 1
                | Step 1
                span.chevron
              li(data-target='#step2')
                span.badge 2
                | Step 2
                span.chevron
              li(data-target='#step3')
                span.badge 3
                | Step 3
                span.chevron

          .step-content
            #step1.step-pane.active Choose a target file then select the agents to target
            #step2.step-pane This is step 2
            #step3.step-pane This is step 3

      .modal-footer
        button.btn(type='button', data-dismiss='modal') Close
        button#btnWizardPrev.btn.btn-prev(type='button') Prev
        button#btnWizardNext.btn.btn-primary.btn-next(type='button', data-last='Finish') Next

script(src="/scripts/viewScripts/partials/newTargetModal.js")

