.input-group.input-group-lg#search-container
  .input-group-btn
    button.btn.btn-default.dropdown-toggle(type='button', data-toggle="dropdown") Sources 
      span.caret
    ul.dropdown-menu#TagList(role="menu")
      li(role='presentation').dropdown-header Select Sources
  input#searchTerm.form-control(type='text' placeholder='Search')
  span.btn.input-group-addon#searchButton
    span.glyphicon.glyphicon-search
span Time Frame: 
.input-group
  .input-group-btn
    input.form-control#timeInput(type="number" value="" placeholder="All")
    button.btn.btn-default.dropdown-toggle(type='button', data-toggle="dropdown") Minutes 
      span.caret
    ul.dropdown-menu(role="menu")
      li(role="presentation").dropdown-header Choose TimeFrame
      li
        a(href='#') Minutes 
      li
        a(href='#') Hours
      li
        a(href='#') Days
      li
        a(href='#') Weeks
      li
        a(href='#') Months
      li
        a(href='#') All
