.input-group.input-group-lg#search-container
  .input-group-btn
    button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown') Sources 
      span.caret
    ul.dropdown-menu
      li(role='presentation').dropdown-header Select Sources
      li
        label.checkbox Tag 1
          input(type='checkbox' name="Tag 1" value="Tag 1")
      li
        label.checkbox Tag 2
          input(type='checkbox' name="Tag 2" value="Tag 2")
  input#searchTerm.form-control(type='text' placeholder='Search')
  span.input-group-addon#searchButton
    span.glyphicon.glyphicon-search
span Time Frame: 
button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown') 1 Hr 
  span.caret
ul.dropdown-menu
  li(role="presentation").dropdown-header Choose TimeFrame
  li
    a(href='#') 1 hr 
  li
    a(href='#') 6 hrs 
  li
    a(href='#') 24 hrs 
  li
    a(href='#') 1 Week 
