doctype 5
html
  head
    title Apiary Agents
    include partials/head.jade
    script(src="/scripts/agents.js")
  body
    include partials/navbar
    // Make this page selected in the navbar
    script $("#agents_navbar").addClass("active")

    .jumbotron
      .container
        .col-sm-6
          .pulsing
            script(src="/scripts/d3/pulsing.js")
        .col-sm-6
          h1#total
          // button.btn.btn-primary.btn-lg#new New Agent
          include partials/newTargetModal.jade

    .container.main-container
      .panel.panel-default
        .panel-heading Currently Active Agents
        table.table#agent-table
          thead
            tr
              th ID
              th Machine ID
              th Take Offline
