doctype 5
html
   head
      title Apiary Agents
      script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js')
      script(src="/socket.io/socket.io.js")
      script(src="scripts/agents.js")
   body
      div.container
         header
            h1: a(href='/') Apiary
            div#agentList
            button#submit New Agent
