doctype 5
html
   head
      title Apiary Agents
      script(src="/scripts/libs/jquery-2.0.3.min.js")
      script(src="/socket.io/socket.io.js")
      script(src="/scripts/agents.js")
      script(src="/scripts/libs/bootstrap.min.js")
      link(rel='stylesheet', href='/css/bootstrap.min.css')
      link(rel='stylesheet', href='/css/general.css')
   body
     include partials/navbar
     .main-container
       #agentList
       button#submit New Agent
