doctype 5
html
   head
      title Apiary Agents
      include partials/head.jade
      script(src="/scripts/agents.js")
   body
     include partials/navbar
     // Make this page selected in the navbar
     script
       $("#agents_navbar").addClass("active")

     .main-container
       #agentList
       button#submit New Agent
