doctype html
html
  head
    title Alerts
    include partials/head.jade
  body
    include partials/navbar
    // Make this page selected in the navbar
    script $("#alerts_navbar").addClass("active")

    .container.main-container#search-container
      .row
        .col-md-12
          .stat-group
            include partials/newalert.jade
      .row
          .col-md-12
            .stat-group

