doctype html
html
  head
    title Apiary
    include partials/head
    script(src="/scripts/home.js")
  body
    include partials/navbar
    // Make this page selected in the navbar
    script $("#home_navbar").addClass("active")

    .container.main-container
      .row
        .col-md-12
          .stat-group
            h2 Rate of Events
            #event-rate
              script(src="/scripts/d3/sparkline.js")
      .row
        .col-md-6
          .stat-group
            h2 Service Stats
            #agentcount
              h3 Number of Agents : 0
        .col-md-6
          .stat-group
            h2 System Stats
