doctype 5
html
  head
    title Apiary
    include partials/head
  body
    include partials/navbar
    // Make this page selected in the navbar
    script $("#home_navbar").addClass("active")

    .container.main-container
      img(src="/img/apiaryAvatarLarge.png" alt="Apiary Logo")
