doctype html
html
  head
    title Apiary - Search
    include partials/head
  body
    include partials/navbar
    // Make this page selected in the navbar
    script $("#searches_navbar").addClass("active")
    script(src="/scripts/search.js")

  .container.main-container#search-container
    .row
      .col-md-12
        .stat-group
          include partials/searchbar.jade
    .row
      .col-md-12
        .stat-group
          ul.nav.nav-tabs
            li.active
              a(href='#results', data-toggle='tab') Results
            li
              a(href='#graphs', data-toggle='tab') Graphing
            li.pull-right
              a(href='#stored', data-toggle='tab') Stored Queries   
          .tab-content
            #results.tab-pane.fade.in.active
              include partials/searchDatagrid.jade
            #graphs.tab-pane.fade
              h1 graph stuff here
            #stored.tab-pane.fade
              h1 show stored queries here

          script(src="/scripts/libs/underscore-min.js")
          script(src="/scripts/searchDatagrid.js")

