doctype html
html
  head
    title Apiary - Search
    include partials/head
  body
    include partials/navbar
    // Make this page selected in the navbar
    script $("#searches_navbar").addClass("active")
    script(src="/scripts/search.js")

  .container.main-container#search-container
    .row
      .col-md-12
        .stat-group
          .input-group.input-group-lg#search-container
            .input-group-btn
              button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown') Sources 
                span.caret
              ul.dropdown-menu
                li(role='presentation').dropdown-header Select Sources
                li  
                  label.checkbox Tag 1
                    input(type='checkbox' name="Tag 1" value="Tag 1")
                li  
                  label.checkbox Tag 2
                    input(type='checkbox' name="Tag 2" value="Tag 2")
            input#searchTerm.form-control(type='text' placeholder='Search')
            span.input-group-addon#searchButton
              span.glyphicon.glyphicon-search
           span Time Frame: 
           button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown') 1 Hr 
             span.caret
           ul.dropdown-menu
             li(role="presentation").dropdown-header Choose TimeFrame
             li
               a(href='#') 1 hr 
             li
               a(href='#') 6 hrs 
             li
               a(href='#') 24 hrs 
             li
               a(href='#') 1 Week 
                      
    .row
      .col-md-12
        .stat-group
          ul.nav.nav-tabs
            li.active
              a(href='#results', data-toggle='tab') Results
            li
              a(href='#graphs', data-toggle='tab') Graphing
            li.pull-right
              a(href='#stored', data-toggle='tab') Stored Queries   
          .tab-content
            #results.tab-pane.fade.in.active
              include partials/searchDatagrid.jade
            #graphs.tab-pane.fade
              h1 graph stuff here
            #stored.tab-pane.fade
              h1 show stored queries here

          script(src="/scripts/libs/underscore-min.js")
          script(src="/scripts/searchDatagrid.js")

