doctype html
html
  head
    title Apiary - Search
    include partials/head
  body
    include partials/navbar
    // Make this page selected in the navbar
    script $("#searches_navbar").addClass("active")
    script(src="/scripts/search.js")

   button#searchButton.btn(type=submit)
      Test button for searchy

   input#searchInput(type="text" placeholder = "type search here")

