doctype html
html
  head
    title Apiary
    include partials/head
    script(src="/scripts/home.js")
  body
    include partials/navbar
    // Make this page selected in the navbar
    script $("#home_navbar").addClass("active")

    .container.main-container.stat-group
      | Add a new Device
      br
      | Device Name :
      input#dname(type="text")
      br
      | Device ID :
      input#did(type="text")

      button#btnUpdateSettings.btn(type='button') Update
      script(src="/scripts/settings.js")

      script(src="/scripts/libs/underscore-min.js")
      include partials/deviceDatagrid.jade
      script(src="/scripts/devicesDatagrid.js")

      script(type='text/javascript').
        console.log("ASIDBIABSDIJABSDHB");
        //Fill in the default values
        var devices = JSON.parse(!{JSON.stringify(devices)});
        console.log(devices.length);
        devices.forEach( function (dev) {
          console.log(dev);
            $('#MyGrid').data().datagrid.options.dataSource._data.push(dev);
            $('#MyGrid').datagrid('reload');
        })

